@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'K2D', sans-serif;
}

body{
    height: auto;
    background-color: #292929;
}


.container-escritor{
    display: grid;
    grid-template-columns: 7fr 4fr;
    margin-top: 4vh;
    margin-left: 40px;
    height: 100vh;
    padding: 0px 0px 0px 0px;
}

.bloco-escrever{
    height: 300px;
    width: 800px;
    border: 1px solid rgba(204, 204, 204, 0.253);
    background-color: #2C2C2C;
    margin-bottom: 20px;
    
    resize: none;
    outline: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.img-fundo{
    background-image: url('../img/caneta.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
}

.bloco-descricao{
    height: 300px;
    width: 800px;
    border: 1px solid rgba(204, 204, 204, 0.253);
    background-color: #2C2C2C;
    /* resize: none; */
    /* outline: none; */
    /* color: white; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */ 
}

.img-descricao{
    background-image: url('../img/text1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}


h5{
    color: white;
    font-weight: bold;

}

.bloco-categoria{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    align-items: center;
    justify-items: left;
}



.item-categoria{
    display: grid;
    width: 205px;
    height: 160px;
    border: 1px solid rgba(204, 204, 204, 0.253);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    align-items: center;
    color: #818181;
}

.item-categoria:hover{
    transform: scale(1.01);
    cursor: pointer;
    color: white;
}

.mais{
    font-size: 5em;
    color: #818181;
}


.mais:hover{
    color: white;
}

.btn-salvar{
    margin-top: 10px;
    padding: 7px 15px;
    background-color: #2C2C2C;
    border: 1px solid rgba(204, 204, 204, 0.253);
    color: #818181;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
