@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'K2D', sans-serif;
}



body{
    background-color: #212020;
    overflow: hidden;
}

.p{
    color: white;
    font-size: 60px;
}
.container{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fundo.png');
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: center;
}


.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 10px;
    margin-bottom: -40px;
}

.navbar ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.navbar ul li{
    margin: 10px;
    color: white;
}

.mensagem-error{
    border: white 1px solid;
    color: white;
    background-color: red;
    padding: 10px;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

.cadastroUser-inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 20px;
}

.itemCadastro{
    display: grid;
}
.item{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.label{
    color: white;
    padding: 5px 0px;
    font-size: 18px;
}

.input{
    background-color: #292929;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: bold;
    color: whitesmoke;
    width: 400px;
    height: 35px;
    padding: 10px;
}





.a{
    color: rgb(114, 114, 114);
    text-decoration: none;
    justify-self: center;
    font-size: 18px;
}

h3{
    color: white;
    font-size: 3em;
    font-weight: 400;
    margin-left: 25vw;
    margin-bottom: 45vh;
}




.cards {
    color: white;
    margin-top: 230px;
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background: #212020;
    grid-gap: 2rem;
    padding: 2rem;
    perspective: 1000px;
}

.framework-card {
    background: #292929;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    padding-top: 3rem;
    position: relative;
    transform-origin: top center;
    --rotate: 10deg;
    transform: rotateX(var(--rotate));
    transition: transform 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.framework-card:before {
    right: auto;
    left: 20px;
}

.framework-card:hover {
    transform: rotateX(-20deg);
}

card:before,
.framework-card:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #5c0dac;
    border: 1px solid #000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    top: 15px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
}

.framework-card:before,
.framework-card:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border: 1px solid #000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    top: 15px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
    
}

.framework-card img {
    height: 80px;
    width: 100%;
    object-fit: contain;
}

img {
    max-width: 100%;
}

.framework-card p {
    font-family: 'radnika-next';
    font-weight: 900;
}