@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'K2D', sans-serif;
}

body{
    height: auto;
    background-color: #292929;
}

.container{
    padding: 20px 0px 50px 0px;
    display: grid;
    gap: 40px;
}

.titulo{
    padding: 20px 0px 20px 0px;
    color: white;
    font-weight: bold;
}

.linha{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 40px;
    margin-top: 5px;
    margin: 20px;
}

.blocos{
    display: grid;
    height: 220px;
    width: 360px;
    border: 1px solid rgba(204, 204, 204, 0.253);
    border: 1px solid #ffffff34;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

a{
    text-decoration: none;
    color: rgba(204, 204, 204, 0.253);
}

.blocos:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.desc{
    color: #818181;
}

.bolinha{
    margin: 0px 290px 0px 0px;
    color: rgba(158, 153, 153, 0.842);
}

.btn-salvar{
    padding: 7px 15px;
    background-color: #2C2C2C;
    border: 1px solid rgba(204, 204, 204, 0.253);
    color: #818181;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mais{
    font-size: 6em;
    color: rgba(204, 204, 204, 0.253);
}


.mais:hover{
    color: white;
}
